/*****************************************************************
  * container
  ****************************************************************/
$-containerPading: 10px 12px;

/*****************************************************************
  * panel
  ****************************************************************/
$-pabelHeaderVSpace: 24px;
$-pabelBodyPadding: 14px 18px;


/*****************************************************************
  * title
  ****************************************************************/
$-titlePadingTop: 10px;
$-titlePadingBottom: 10px;

/*****************************************************************
  * footer
  ****************************************************************/
$-footerPadding: 10px 18px;

